<div align="center">
<%= form_tag help_path, :method => 'get' do -%>
<div>
<%= text_field_tag :search, params[:search] , class: 'input-large'%>
<%= submit_tag 'Find' %></div>

<% end -%>

<table border = "1",class="table table-bordered table-hover",cellpadding="10">
  <tr>
    <td><p>Total number of open issues </p></td>
    <td><p><%= @num_open %></p></td>
  </tr>
  <tr>
    <td><p>Number of open issues that were opened in the last 24 hours </p></td>
    <td><p><%= @num_24_hours %></p></td>
  </tr>
  <tr>
    <td><p>Number of open issues that were opened more than 24 hours ago but less than 7 days ago </p></td>
    <td><p><%= @num_7_days %></p></td>
  </tr>
  <tr>
    <td><p>Number of open issues that were opened more than 7 days ago </p></td>
    <td><p><%= @num_all_time %></p></td>
  </tr>
</table>
<!-- <p>Total number of open issues =<%= @num_open %></p>
<p>Number of open issues that were opened in the last 24 hours =<%= @num_24_hours %></p>
<p>Number of open issues that were opened more than 24 hours ago but less than 7 days ago =<%= @num_7_days %></p>
<p>Number of open issues that were opened more than 7 days ago =<%= @num_all_time %></p> -->
</div>